@font-face {
	font-family: 'admangraphics_auslan';
	src: url('../fonts/admangraphics_auslan.ttf')
}

html {
	background-image: url("img/background.jpeg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

body section 
{
	background-color: #2699FB;
}

#gridform {
	background-color: #F2F2F2;
	text-align: left;
	padding-bottom: 20px;
}

fieldset {
	background-color: white;
	padding: 5px;
	font-size: 20px;
	color: gray;
	margin: 20px 0px;
}

body {
	margin: auto;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	font-family: admangraphics_auslan, sans-serif;
	max-width: 960px;
}

header {
	background-image: url("img/companylogoBG.jpg");
	width: 960px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: berlin;
	text-align: center;
	line-height: 200px;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	color: white;
}

header h1 {
	margin: auto;
	font-size: 5em;
}

nav {
	background-color: #707070;
	border: 1.5px solid #FFFFFF;
}

nav ul {
	margin: auto;
	padding: 6.5px 0;
	max-width: 450px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.75em;
	margin: auto;
	padding: 0 10px;
}

section h2 {
	margin: auto;
	font-size: 5em;
	text-transform: uppercase;
	padding: 10px 10px;
}

select {
	float: right;
	height: 25px;
	width: 50%;
	font-size: 20px;
}

input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 20px
}

textarea {
	height: 100%;
	width: 100%;
	font-size: 20px
}

h3 
{
	color: grey;
	padding: 20px 20px;
	margin-top: 0px;
}

textarea {
	color: grey;
	border: none;
	resize: none;
	font-family: admangraphics_auslan, sans-serif;
    font-size: 20px;
}

form {
	width: 80%;
	margin: auto;
}

body section {
	background-color: #2699FB;
	border: 1px solid #FFFFFF;
	background-position: center;
}

footer {
	background-color: #000000;
	padding: 10px 0;
	border: 1.5px solid #FFFFFF;
}

footer p {
	font-size: 1.3em;
	margin: 0.25em;	
}

.button {
	background-color: #2699FB;
	color: white;
	height: 50px;
	font-size: 25px;
	letter-spacing: 2px;
}